**Regressão para prever precos de carros**

**Importações iniciais**

In [0]:
import pandas as pd

**Leitura da base de dados**

In [0]:
df = pd.read_csv('autos.csv',encoding = 'ISO-8859-1')

In [0]:
df

                dateCrawled  ...             lastSeen
0       2016-03-24 11:52:17  ...  2016-04-07 03:16:57
1       2016-03-24 10:58:45  ...  2016-04-07 01:46:50
2       2016-03-14 12:52:21  ...  2016-04-05 12:47:46
3       2016-03-17 16:54:04  ...  2016-03-17 17:40:17
4       2016-03-31 17:25:20  ...  2016-04-06 10:17:21
...                     ...  ...                  ...
371523  2016-03-14 17:48:27  ...  2016-04-06 00:46:52
371524  2016-03-05 19:56:21  ...  2016-03-11 18:17:12
371525  2016-03-19 18:57:12  ...  2016-04-07 07:15:26
371526  2016-03-20 19:41:08  ...  2016-03-24 12:45:21
371527  2016-03-07 19:39:19  ...  2016-03-22 03:17:10

[371528 rows x 20 columns]

**Pré-processamento dos dados**

***Removendo colunas que não influenciam na target***

In [0]:
df = df.drop('dateCrawled', axis = 1)
df = df.drop('dateCreated', axis = 1)
df = df.drop('nrOfPictures', axis = 1)
df = df.drop('postalCode', axis = 1)
df = df.drop('lastSeen', axis = 1)

In [0]:
df.shape

(371528, 15)

***Análise na coluna name***

In [0]:
df['name'].value_counts()

Ford_Fiesta                                           657
BMW_318i                                              627
Opel_Corsa                                            622
Volkswagen_Golf_1.4                                   603
BMW_316i                                              523
                                                     ...
E46_Coupe_330ci_Facelift_mit_Neulack_und_Gasanlage      1
Kaufe_alle_Fahrzeuge_aller_Art                          1
Ford_Focus_2004_Motor_getriebe_tip_top                  1
Opel_g_astra                                            1
Wegen_Vergroesserung_muss_er_weg                        1
Name: name, Length: 233531, dtype: int64

A coluna name apresenta muita variedade nos nomes dos carros, o que pode afetar o desempenho do algoritmo. Nesse caso, a melhor opção é apagá-la.

In [0]:
df = df.drop('name', axis = 1)

***Análise da coluna seller***

In [0]:
df['seller'].value_counts()

privat        371525
gewerblich         3
Name: seller, dtype: int64

In [0]:
df = df.drop('seller', axis = 1)

***Análise da coluna offerType***

In [0]:
df['offerType'].value_counts()

Angebot    371516
Gesuch         12
Name: offerType, dtype: int64

In [0]:
df = df.drop('offerType', axis = 1)

***Correção de valores inconsistentes***

In [0]:
i1 = df.loc[df.price <= 10]

In [0]:
i1.describe()

              price  yearOfRegistration  ...      kilometer  monthOfRegistration
count  12118.000000        12118.000000  ...   12118.000000         12118.000000
mean       0.196072         2008.717033  ...  122969.962040             3.650355
std        0.964849          263.528853  ...   49675.277206             4.029596
min        0.000000         1000.000000  ...    5000.000000             0.000000
25%        0.000000         1996.000000  ...  125000.000000             0.000000
50%        0.000000         2000.000000  ...  150000.000000             2.000000
75%        0.000000         2005.000000  ...  150000.000000             7.000000
max       10.000000         9999.000000  ...  150000.000000            12.000000

[8 rows x 5 columns]

In [0]:
df = df[df.price > 10]

In [0]:
df.shape

(359410, 12)

In [0]:
i2 = df.loc[df.price > 350000]

In [0]:
i2

           price   abtest  ...           brand  notRepairedDamage
1846      579000  control  ...             bmw               nein
10649     420000  control  ...         porsche               nein
14663   11111111  control  ...      volkswagen                NaN
16889    1000000  control  ...            ford                 ja
20143    1250000     test  ...         porsche               nein
...          ...      ...  ...             ...                ...
364171   3890000     test  ...  sonstige_autos               nein
365461    599000  control  ...             bmw               nein
366653  99999999  control  ...             bmw                NaN
366861   3895000     test  ...  sonstige_autos               nein
367041   1600000     test  ...  sonstige_autos               nein

[115 rows x 12 columns]

In [0]:
df = df[df.price < 350000]

In [0]:
df.shape

(359291, 12)

***Tratamento de valores faltantes***

In [0]:
df.loc[pd.isnull(df['vehicleType'])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
0         480     test         NaN  ...    benzin      volkswagen                NaN
16        300     test         NaN  ...    benzin      volkswagen                NaN
22       2900     test         NaN  ...    benzin            opel               nein
26       5555  control         NaN  ...       NaN         citroen               nein
31        899  control         NaN  ...    benzin         renault                NaN
...       ...      ...         ...  ...       ...             ...                ...
371495    180  control         NaN  ...    benzin            opel                NaN
371504   2600  control         NaN  ...       NaN   mercedes_benz                NaN
371509   1900     test         NaN  ...       NaN      volkswagen               nein
371519   5250  control         NaN  ...       NaN      alfa_romeo               nein
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN

[33546 rows x 12 columns]

In [0]:
df['vehicleType'].value_counts() #limousine

limousine     93614
kleinwagen    78014
kombi         65921
bus           29699
cabrio        22509
coupe         18386
suv           14477
andere         3125
Name: vehicleType, dtype: int64

In [0]:
df.loc[pd.isnull(df['gearbox'])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
15        450     test  kleinwagen  ...    benzin            ford                NaN
16        300     test         NaN  ...    benzin      volkswagen                NaN
32        245     test   limousine  ...    benzin      volkswagen               nein
37       1500     test         NaN  ...    diesel         renault               nein
70       1200     test       coupe  ...       NaN            opel                NaN
...       ...      ...         ...  ...       ...             ...                ...
371443   3300  control       kombi  ...    diesel      volkswagen                NaN
371460   3500  control         NaN  ...       NaN      volkswagen                NaN
371486    350  control  kleinwagen  ...       NaN            fiat                NaN
371495    180  control         NaN  ...    benzin            opel                NaN
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN

[17236 rows x 12 columns]

In [0]:
df['gearbox'].value_counts() #manuell

manuell      266547
automatik     75508
Name: gearbox, dtype: int64

In [0]:
df.loc[pd.isnull(df['model'])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
1       18300     test       coupe  ...    diesel            audi                 ja
83        350  control  kleinwagen  ...       NaN            fiat                 ja
139      1450  control   limousine  ...       NaN            audi               nein
156      6799  control  kleinwagen  ...    benzin      volkswagen               nein
165       500  control  kleinwagen  ...    benzin         renault               nein
...       ...      ...         ...  ...       ...             ...                ...
371399    560  control  kleinwagen  ...    benzin            fiat                 ja
371476   9400  control       kombi  ...    diesel  sonstige_autos                 ja
371495    180  control         NaN  ...    benzin            opel                NaN
371509   1900     test         NaN  ...       NaN      volkswagen               nein
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN

[17967 rows x 12 columns]

In [0]:
df['model'].value_counts() #golf

golf               28989
andere             25560
3er                19905
polo               12604
corsa              12149
                   ...
serie_2                8
rangerover             6
serie_3                3
serie_1                1
discovery_sport        1
Name: model, Length: 251, dtype: int64

In [0]:
df.loc[pd.isnull(df['fuelType'])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
9         999     test  kleinwagen  ...       NaN      volkswagen                NaN
13       2500  control       kombi  ...       NaN      volkswagen               nein
26       5555  control         NaN  ...       NaN         citroen               nein
36       1600  control      andere  ...       NaN            opel                NaN
41       7500  control   limousine  ...       NaN   mercedes_benz                NaN
...       ...      ...         ...  ...       ...             ...                ...
371496   3850     test      cabrio  ...       NaN         peugeot               nein
371504   2600  control         NaN  ...       NaN   mercedes_benz                NaN
371509   1900     test         NaN  ...       NaN      volkswagen               nein
371519   5250  control         NaN  ...       NaN      alfa_romeo               nein
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN

[29391 rows x 12 columns]

In [0]:
df['fuelType'].value_counts() #benzin

benzin     217582
diesel     106002
lpg          5222
cng           557
hybrid        271
andere        165
elektro       101
Name: fuelType, dtype: int64

In [0]:
df.loc[pd.isnull(df['notRepairedDamage'])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
0         480     test         NaN  ...    benzin      volkswagen                NaN
2        9800     test         suv  ...    diesel            jeep                NaN
8       14500  control         bus  ...    benzin            ford                NaN
9         999     test  kleinwagen  ...       NaN      volkswagen                NaN
12        999  control       kombi  ...    benzin      volkswagen                NaN
...       ...      ...         ...  ...       ...             ...                ...
371507   5999     test       kombi  ...    diesel            audi                NaN
371514    999  control      cabrio  ...    benzin         renault                NaN
371515   1690     test       kombi  ...    benzin           skoda                NaN
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN
371526   3400     test       kombi  ...    diesel      volkswagen                NaN

[65986 rows x 12 columns]

In [0]:
df['notRepairedDamage'].value_counts() #nein

nein    259301
ja       34004
Name: notRepairedDamage, dtype: int64

Dicionário para informar quais campos terão os valores faltantes substituidos pela moda

In [0]:
valores = {'vehicleType' : 'limousine',
           'gearbox' : 'manuell',
           'model' : 'golf',
           'fuelType': 'benzin',
           'notRepairedDamage': 'nein'}

In [0]:
valores

{'fuelType': 'benzin',
 'gearbox': 'manuell',
 'model': 'golf',
 'notRepairedDamage': 'nein',
 'vehicleType': 'limousine'}

In [0]:
df = df.fillna(value = valores)

In [0]:
df.isnull()

        price  abtest  vehicleType  ...  fuelType  brand  notRepairedDamage
0       False   False        False  ...     False  False              False
1       False   False        False  ...     False  False              False
2       False   False        False  ...     False  False              False
3       False   False        False  ...     False  False              False
4       False   False        False  ...     False  False              False
...       ...     ...          ...  ...       ...    ...                ...
371523  False   False        False  ...     False  False              False
371524  False   False        False  ...     False  False              False
371525  False   False        False  ...     False  False              False
371526  False   False        False  ...     False  False              False
371527  False   False        False  ...     False  False              False

[359291 rows x 12 columns]

***Label Encoder***

A função Label Encoder é utilizada para transformar dados categóricos em dados numéricos, para que o algoritmo consiga realizar todos os seus cálculos matemáticos

In [0]:
features = df.iloc[:,1:13].values

In [0]:
preco_real = df.iloc[:, 0].values

In [0]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoder_features = LabelEncoder()

features[:,0] = label_encoder_features.fit_transform(features[:,0])
features[:,1] = label_encoder_features.fit_transform(features[:,1])
features[:,3] = label_encoder_features.fit_transform(features[:,3])
features[:,5] = label_encoder_features.fit_transform(features[:,5])
features[:,8] = label_encoder_features.fit_transform(features[:,8])
features[:,9] = label_encoder_features.fit_transform(features[:,9])
features[:,10] = label_encoder_features.fit_transform(features[:,10])

In [0]:
features

array([[1, 6, 1993, ..., 1, 38, 1],
       [1, 3, 2011, ..., 3, 1, 0],
       [1, 7, 2004, ..., 3, 14, 1],
       ...,
       [1, 1, 1996, ..., 3, 38, 1],
       [1, 5, 2002, ..., 3, 38, 1],
       [0, 6, 2013, ..., 1, 2, 1]], dtype=object)

***ColumnTransformer*** *italicized text*

A função One hot encoder é utilizada para criação de variavéis do tipo Dummy, para categorias.

In [0]:
# 0 0 0 0 categoria 0
# 2 0 1 0 categoria 2
# 3 0 0 1 categoria 3

In [0]:
from sklearn.compose import ColumnTransformer
onehotencoder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [0,1,3,5,8,9,10])],remainder='passthrough') 
features = onehotencoder.fit_transform(features).toarray()

Validação Cruzada

In [0]:
from sklearn.model_selection import cross_val_score
from keras.wrappers.scikit_learn import KerasRegressor

In [0]:
from tensorflow.keras.models import Sequential
import tensorflow as tf

In [0]:
def criarRede():
  regressor = Sequential([
        tf.keras.layers.Dense(units=158, activation = 'relu', input_dim=316),
        tf.keras.layers.Dense(units=158, activation = 'relu'),
        tf.keras.layers.Dense(units=1, activation = 'linear')])

  regressor.compile(loss = 'mean_absolute_error', optimizer = 'adam',
                  metrics = ['mean_absolute_error'])
  
  return regressor

In [0]:
regressor = KerasRegressor(build_fn=criarRede,
                           epochs = 20,
                           batch_size = 100)

In [0]:
resultados = cross_val_score(estimator=regressor, X = features, y = preco_real,
                             cv = 10, scoring = 'neg_mean_absolute_error')

Epoch 1/20
3234/3234 [==============================] - 7s 2ms/step - loss: 3632.0039 - mean_absolute_error: 3632.0042
Epoch 2/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2992.1492 - mean_absolute_error: 2992.1492
Epoch 3/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2832.4019 - mean_absolute_error: 2832.4019
Epoch 4/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2783.1755 - mean_absolute_error: 2783.1755
Epoch 5/20
3234/3234 [==============================] - 8s 2ms/step - loss: 2726.2473 - mean_absolute_error: 2726.2473
Epoch 6/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2682.7930 - mean_absolute_error: 2682.7927
Epoch 7/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2632.4980 - mean_absolute_error: 2632.4980
Epoch 8/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2597.5486 - mean_absolute_error: 2597.5486
Epoch 9/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2576.0930 - mean_absolute_error: 2576.0930
Epoch 10/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2542.6343 - mean_absolute_error: 2542.6343
Epoch 11/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2523.3687 - mean_absolute_error: 2523.3687
Epoch 12/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2501.4526 - mean_absolute_error: 2501.4526
Epoch 13/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2492.8953 - mean_absolute_error: 2492.8955
Epoch 14/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2477.8088 - mean_absolute_error: 2477.8088
Epoch 15/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2463.4883 - mean_absolute_error: 2463.4885
Epoch 16/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2453.5708 - mean_absolute_error: 2453.5708
Epoch 17/20
3234/3234 [==============================] - 8s 2ms/step - loss: 2449.6206 - mean_absolute_error: 2449.6206
Epoch 18/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2444.2971 - mean_absolute_error: 2444.2971
Epoch 19/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2440.9077 - mean_absolute_error: 2440.9077
Epoch 20/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2437.3618 - mean_absolute_error: 2437.3618
Epoch 1/20
3234/3234 [==============================] - 7s 2ms/step - loss: 3599.1738 - mean_absolute_error: 3599.1738
Epoch 2/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2975.1428 - mean_absolute_error: 2975.1428
Epoch 3/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2837.6152 - mean_absolute_error: 2837.6152
Epoch 4/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2765.3875 - mean_absolute_error: 2765.3875
Epoch 5/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2718.7847 - mean_absolute_error: 2718.7847
Epoch 6/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2666.4927 - mean_absolute_error: 2666.4927
Epoch 7/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2614.2327 - mean_absolute_error: 2614.2327
Epoch 8/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2577.4006 - mean_absolute_error: 2577.4006
Epoch 9/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2545.9968 - mean_absolute_error: 2545.9968
Epoch 10/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2528.9443 - mean_absolute_error: 2528.9443
Epoch 11/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2502.3933 - mean_absolute_error: 2502.3933
Epoch 12/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2484.2942 - mean_absolute_error: 2484.2942
Epoch 13/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2467.9246 - mean_absolute_error: 2467.9246
Epoch 14/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2470.1738 - mean_absolute_error: 2470.1738
Epoch 15/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2448.6301 - mean_absolute_error: 2448.6301
Epoch 16/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2443.1147 - mean_absolute_error: 2443.1147
Epoch 17/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2436.4502 - mean_absolute_error: 2436.4502
Epoch 18/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2434.2241 - mean_absolute_error: 2434.2241
Epoch 19/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2423.6892 - mean_absolute_error: 2423.6892
Epoch 20/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2417.1499 - mean_absolute_error: 2417.1499
Epoch 1/20
3234/3234 [==============================] - 7s 2ms/step - loss: 3630.8672 - mean_absolute_error: 3630.8672
Epoch 2/20
3234/3234 [==============================] - 7s 2ms/step - loss: 3015.1335 - mean_absolute_error: 3015.1335
Epoch 3/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2833.7944 - mean_absolute_error: 2833.7944
Epoch 4/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2780.9021 - mean_absolute_error: 2780.9021
Epoch 5/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2731.5188 - mean_absolute_error: 2731.5188
Epoch 6/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2669.0911 - mean_absolute_error: 2669.0911
Epoch 7/20
3234/3234 [==============================] - 8s 2ms/step - loss: 2614.6917 - mean_absolute_error: 2614.6917
Epoch 8/20
3234/3234 [==============================] - 8s 2ms/step - loss: 2572.1528 - mean_absolute_error: 2572.1528
Epoch 9/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2538.4487 - mean_absolute_error: 2538.4487
Epoch 10/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2524.7793 - mean_absolute_error: 2524.7793
Epoch 11/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2500.9980 - mean_absolute_error: 2500.9980
Epoch 12/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2493.6313 - mean_absolute_error: 2493.6316
Epoch 13/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2476.9600 - mean_absolute_error: 2476.9600
Epoch 14/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2464.7070 - mean_absolute_error: 2464.7070
Epoch 15/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2458.8694 - mean_absolute_error: 2458.8694
Epoch 16/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2454.0022 - mean_absolute_error: 2454.0022
Epoch 17/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2435.2109 - mean_absolute_error: 2435.2109
Epoch 18/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2429.6455 - mean_absolute_error: 2429.6455
Epoch 19/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2428.9854 - mean_absolute_error: 2428.9854
Epoch 20/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2430.4512 - mean_absolute_error: 2430.4512
Epoch 1/20
3234/3234 [==============================] - 7s 2ms/step - loss: 3671.0459 - mean_absolute_error: 3671.0459
Epoch 2/20
3234/3234 [==============================] - 7s 2ms/step - loss: 3121.8818 - mean_absolute_error: 3121.8818
Epoch 3/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2911.9456 - mean_absolute_error: 2911.9456
Epoch 4/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2797.0771 - mean_absolute_error: 2797.0771
Epoch 5/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2735.2419 - mean_absolute_error: 2735.2422
Epoch 6/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2677.5710 - mean_absolute_error: 2677.5710
Epoch 7/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2626.3308 - mean_absolute_error: 2626.3308
Epoch 8/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2571.8950 - mean_absolute_error: 2571.8950
Epoch 9/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2541.6958 - mean_absolute_error: 2541.6958
Epoch 10/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2515.1245 - mean_absolute_error: 2515.1245
Epoch 11/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2508.0439 - mean_absolute_error: 2508.0439
Epoch 12/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2482.1848 - mean_absolute_error: 2482.1848
Epoch 13/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2472.3550 - mean_absolute_error: 2472.3550
Epoch 14/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2458.8491 - mean_absolute_error: 2458.8491
Epoch 15/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2455.0623 - mean_absolute_error: 2455.0620
Epoch 16/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2445.1216 - mean_absolute_error: 2445.1216
Epoch 17/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2432.2378 - mean_absolute_error: 2432.2378
Epoch 18/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2413.7517 - mean_absolute_error: 2413.7517
Epoch 19/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2410.2913 - mean_absolute_error: 2410.2913
Epoch 20/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2412.0615 - mean_absolute_error: 2412.0615
Epoch 1/20
3234/3234 [==============================] - 7s 2ms/step - loss: 3582.0576 - mean_absolute_error: 3582.0576
Epoch 2/20
3234/3234 [==============================] - 9s 3ms/step - loss: 3039.8596 - mean_absolute_error: 3039.8596
Epoch 3/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2842.7710 - mean_absolute_error: 2842.7712
Epoch 4/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2771.9172 - mean_absolute_error: 2771.9172
Epoch 5/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2716.2529 - mean_absolute_error: 2716.2529
Epoch 6/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2665.8118 - mean_absolute_error: 2665.8118
Epoch 7/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2614.6240 - mean_absolute_error: 2614.6240
Epoch 8/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2601.6611 - mean_absolute_error: 2601.6614
Epoch 9/20
3234/3234 [==============================] - 8s 2ms/step - loss: 2559.4702 - mean_absolute_error: 2559.4702
Epoch 10/20
3234/3234 [==============================] - 8s 2ms/step - loss: 2520.4670 - mean_absolute_error: 2520.4670
Epoch 11/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2508.8650 - mean_absolute_error: 2508.8650
Epoch 12/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2513.3757 - mean_absolute_error: 2513.3757
Epoch 13/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2484.5566 - mean_absolute_error: 2484.5566
Epoch 14/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2480.8145 - mean_absolute_error: 2480.8145
Epoch 15/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2458.1252 - mean_absolute_error: 2458.1252
Epoch 16/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2464.7998 - mean_absolute_error: 2464.7998
Epoch 17/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2446.6797 - mean_absolute_error: 2446.6797
Epoch 18/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2451.0359 - mean_absolute_error: 2451.0359
Epoch 19/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2442.8584 - mean_absolute_error: 2442.8584
Epoch 20/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2422.2815 - mean_absolute_error: 2422.2812
Epoch 1/20
3234/3234 [==============================] - 7s 2ms/step - loss: 3628.4150 - mean_absolute_error: 3628.4150
Epoch 2/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2981.6006 - mean_absolute_error: 2981.6006
Epoch 3/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2826.2336 - mean_absolute_error: 2826.2336
Epoch 4/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2768.4216 - mean_absolute_error: 2768.4216
Epoch 5/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2715.0933 - mean_absolute_error: 2715.0933
Epoch 6/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2664.0554 - mean_absolute_error: 2664.0554
Epoch 7/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2634.7717 - mean_absolute_error: 2634.7720
Epoch 8/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2583.9287 - mean_absolute_error: 2583.9287
Epoch 9/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2552.3337 - mean_absolute_error: 2552.3337
Epoch 10/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2532.3679 - mean_absolute_error: 2532.3679
Epoch 11/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2513.7097 - mean_absolute_error: 2513.7097
Epoch 12/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2491.1782 - mean_absolute_error: 2491.1782
Epoch 13/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2477.0522 - mean_absolute_error: 2477.0522
Epoch 14/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2474.5115 - mean_absolute_error: 2474.5115
Epoch 15/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2457.0002 - mean_absolute_error: 2457.0002
Epoch 16/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2451.6345 - mean_absolute_error: 2451.6345
Epoch 17/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2445.8149 - mean_absolute_error: 2445.8149
Epoch 18/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2439.8984 - mean_absolute_error: 2439.8984
Epoch 19/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2443.3950 - mean_absolute_error: 2443.3950
Epoch 20/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2430.6245 - mean_absolute_error: 2430.6245
Epoch 1/20
3234/3234 [==============================] - 7s 2ms/step - loss: 3611.2876 - mean_absolute_error: 3611.2876
Epoch 2/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2983.1064 - mean_absolute_error: 2983.1064
Epoch 3/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2841.7932 - mean_absolute_error: 2841.7932
Epoch 4/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2788.9570 - mean_absolute_error: 2788.9570
Epoch 5/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2728.9868 - mean_absolute_error: 2728.9868
Epoch 6/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2690.8369 - mean_absolute_error: 2690.8369
Epoch 7/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2622.6016 - mean_absolute_error: 2622.6016
Epoch 8/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2585.0374 - mean_absolute_error: 2585.0374
Epoch 9/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2560.9258 - mean_absolute_error: 2560.9258
Epoch 10/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2522.6460 - mean_absolute_error: 2522.6460
Epoch 11/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2504.1362 - mean_absolute_error: 2504.1362
Epoch 12/20
3234/3234 [==============================] - 8s 2ms/step - loss: 2499.0950 - mean_absolute_error: 2499.0950
Epoch 13/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2474.8044 - mean_absolute_error: 2474.8044
Epoch 14/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2464.7776 - mean_absolute_error: 2464.7776
Epoch 15/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2462.1902 - mean_absolute_error: 2462.1902
Epoch 16/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2462.9670 - mean_absolute_error: 2462.9670
Epoch 17/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2445.9551 - mean_absolute_error: 2445.9551
Epoch 18/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2440.2590 - mean_absolute_error: 2440.2585
Epoch 19/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2437.6416 - mean_absolute_error: 2437.6414
Epoch 20/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2442.0891 - mean_absolute_error: 2442.0891
Epoch 1/20
3234/3234 [==============================] - 7s 2ms/step - loss: 3621.9260 - mean_absolute_error: 3621.9260
Epoch 2/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2989.8401 - mean_absolute_error: 2989.8401
Epoch 3/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2830.9922 - mean_absolute_error: 2830.9922
Epoch 4/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2773.4683 - mean_absolute_error: 2773.4685
Epoch 5/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2715.3723 - mean_absolute_error: 2715.3723
Epoch 6/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2674.2039 - mean_absolute_error: 2674.2039
Epoch 7/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2619.1904 - mean_absolute_error: 2619.1904
Epoch 8/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2573.1770 - mean_absolute_error: 2573.1772
Epoch 9/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2554.5422 - mean_absolute_error: 2554.5422
Epoch 10/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2528.8608 - mean_absolute_error: 2528.8608
Epoch 11/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2504.7830 - mean_absolute_error: 2504.7827
Epoch 12/20
3234/3234 [==============================] - 8s 2ms/step - loss: 2502.3147 - mean_absolute_error: 2502.3147
Epoch 13/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2478.1360 - mean_absolute_error: 2478.1360
Epoch 14/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2474.1162 - mean_absolute_error: 2474.1162
Epoch 15/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2469.9180 - mean_absolute_error: 2469.9180
Epoch 16/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2449.5410 - mean_absolute_error: 2449.5410
Epoch 17/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2455.2861 - mean_absolute_error: 2455.2861
Epoch 18/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2447.3196 - mean_absolute_error: 2447.3196
Epoch 19/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2440.5525 - mean_absolute_error: 2440.5525
Epoch 20/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2434.3831 - mean_absolute_error: 2434.3831
Epoch 1/20
3234/3234 [==============================] - 7s 2ms/step - loss: 3593.5786 - mean_absolute_error: 3593.5786
Epoch 2/20
3234/3234 [==============================] - 7s 2ms/step - loss: 3064.7207 - mean_absolute_error: 3064.7207
Epoch 3/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2873.4319 - mean_absolute_error: 2873.4319
Epoch 4/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2803.4216 - mean_absolute_error: 2803.4216
Epoch 5/20
3234/3234 [==============================] - 9s 3ms/step - loss: 2743.3967 - mean_absolute_error: 2743.3967
Epoch 6/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2692.6719 - mean_absolute_error: 2692.6719
Epoch 7/20
3234/3234 [==============================] - 7s 2ms/step - loss: 2647.8665 - mean_absolute_error: 2647.8665
Epoch 8/20

In [0]:
resultados

array([-2353.36406178, -2546.53152365, -2542.82706569, -2470.36422754,
       -2357.18808111, -2358.34957178, -2509.24897373, -2506.65725399,
       -2484.13891935, -2369.3511103 ])

In [0]:
resultados.mean()

-2449.8020788918416

In [0]:
resultados.std()

76.87136111441043